<div class="card">
    <div class="row">
        <div class="col">
            <app-wallpaper-title [name]='data.name'></app-wallpaper-title>
        </div>
        <div class="col-1 align-self-end">
            <wallpaper-apply [themeService]='themeService' [wallpaperUrl]='wallpaperUrl'></wallpaper-apply>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <app-wallpaper-preview [previewUrl]='previewUrl'></app-wallpaper-preview>
        </div>
        <div class="col">
            <app-editor-preview [themeService]='themeService'></app-editor-preview>
        </div>
        <div class="col">
            <app-theme-selector [themeIds]='data.themes' [themeService]='themeService'></app-theme-selector>
        </div>
    </div>
</div>
