<div style="background: {{ selectedTheme.background }}; color: {{ selectedTheme.foreground }}">
<pre class="code">
johndoe@computer $ cat ./program.rs
<code style="color: {{ selectedTheme.colors[2] }}">use</code><code style="color: {{ selectedTheme.colors[3] }}"> warp::Filter;</code>
<code></code>
<code style="color: {{ selectedTheme.colors[7] }}">// TODO: Write some documentation</code>
<code>[#tokio::main]</code>
<code>async fn main() {{ '{' }} </code>
<code>    let hw: String = "Hello world";</code>
<code>    println!(hw);</code>
<code></code>
<code>    let hello = warp::path!("hello" / String)</code>
<code>        .map(|name| format!("{{ '{}' }}: {{ '{}' }}", hw, name));</code> 
<code></code>
<code>    warp::serve(hello)</code>
<code>        .run(([127, 0, 0, 1], 3030))</code>
<code>        .await;</code>
<code>{{ '}' }}</code>
</pre>
</div>